@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.root-button, .fourth-button, .tertiary-button, .secondary-button, .principal-button {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  text-decoration: none;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.principal-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}

.principal-button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.secondary-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.secondary-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.tertiary-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.tertiary-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(241, 193, 26);
  border: 2px solid rgb(241, 193, 26);
}

.fourth-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

.fourth-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.card-large {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50rem;
}
.card-large .card-large__img {
  padding: 0;
}
.card-large .card-large__details {
  bottom: 50px;
}

.new__title a {
  color: rgb(0, 0, 0);
}

.card {
  min-width: 50%;
  border: 0;
}
@media screen and (min-width: 992px) {
  .card {
    min-width: 25%;
    border: 0;
  }
}

.carousel, .carousel .carousel__item {
  width: 100%;
  height: 45rem;
}
.carousel .carousel__item {
  position: relative;
}
.carousel .carousel__button {
  left: 35%;
  bottom: 50px;
}

.look-combo__detail {
  height: 18rem;
  align-items: center;
  gap: 1rem;
}

.split {
  display: grid;
  min-height: 90vh;
  margin-top: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 992px) {
  .split {
    min-height: 60vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.split__details {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.split-details__title,
.split-details__body,
.split-details__footer {
  line-height: 150%;
  gap: 10px;
  padding: 20px 20px 0 20px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
@media screen and (min-width: 992px) {
  .split-details__title,
  .split-details__body,
  .split-details__footer {
    margin: 10px 5rem;
  }
}

.split-details__body select,
.split-details__body input {
  font-size: 0.875rem;
  border: 1px solid rgb(242, 242, 242);
  padding: 0.75rem 1.5rem;
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: auto;
  outline: rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-overflow: ellipsis;
}

@media screen and (min-width: 992px) {
  .menu {
    justify-content: space-between;
  }
  .menu-hamburger__button,
  .menu-shop__button-filter {
    display: none;
  }
}
.menu-shop__button-container {
  height: 3.5rem;
  border: 2px solid rgb(242, 242, 242);
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .menu-shop__button-container {
    border: none;
    justify-content: end;
    font-size: 1.5rem;
  }
  .menu-shop__button-container li, .menu-shop__button-container ul {
    font-size: 1.5rem;
  }
}

.clothes {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 992px) {
  .clothes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

footer {
  background-color: rgb(0, 0, 0);
}
footer a {
  color: rgb(241, 193, 26);
  text-decoration: none;
}
footer .footer__contact,
footer .footer__info {
  color: rgb(241, 193, 26);
  text-align: center;
}
footer .footer__contact .footer__title,
footer .footer__info .footer__title {
  font-size: 2rem;
}
footer .footer__contact .footer__detail,
footer .footer__info .footer__detail {
  font-size: 1rem;
}
footer .footer__contact input,
footer .footer__info input {
  width: 100%;
  height: 20%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid rgb(241, 193, 26);
  border-radius: 5px;
  color: rgb(241, 193, 26);
  outline: rgb(241, 193, 26);
}
footer .footer__contact input::placeholder,
footer .footer__info input::placeholder {
  color: rgb(241, 193, 26);
}
footer .footer__contact [type=email]:focus,
footer .footer__info [type=email]:focus {
  background-color: transparent;
  border: 2px solid rgb(241, 193, 26);
  color: rgb(255, 255, 255);
}
footer .footer__contact .footer__help,
footer .footer__contact .footer__about,
footer .footer__info .footer__help,
footer .footer__info .footer__about {
  color: rgb(241, 193, 26);
  border-top: 2px solid rgb(241, 193, 26);
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  footer .footer__contact {
    border-right: 2px solid rgb(241, 193, 26);
  }
}

/*# sourceMappingURL=style.css.map */
