@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5rem 7.3%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.header div .logo, .header div .login--mobile,
.header div .bag--mobile {
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
}
.header div .login--mobile,
.header div .bag--mobile {
  margin-left: 0.75rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .header div .login--mobile,
  .header div .bag--mobile {
    display: inline;
  }
}
@media screen and (max-width: 576px) {
  .header div .login--mobile,
  .header div .bag--mobile {
    display: inline;
  }
}
.header .navbar ul {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header .navbar ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .header .navbar ul {
    display: flex;
    flex-direction: column;
  }
}
.header .navbar ul li {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header .navbar ul li:nth-child(5), .header .navbar ul li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header .navbar ul li:nth-child(5), .header .navbar ul li:nth-child(6) {
    display: none;
  }
}
.header .navbar ul li a {
  font-size: get-space(h5-size);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .header .navbar ul li a {
    display: block;
    font-size: 1.25rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: 400;
  }
}
@media screen and (max-width: 576px) {
  .header .navbar ul li a {
    display: block;
    font-size: 1.25rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) {
  .header .navbar {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }
}
@media screen and (max-width: 576px) {
  .header .navbar {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }
}
.header #ckeck-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .header #ckeck-menu:checked ~ .icons #menu-icon {
    display: none;
  }
  .header #ckeck-menu:checked ~ .icons #close-icon {
    display: block;
  }
  .header #ckeck-menu:checked ~ .navbar {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .header #ckeck-menu:checked ~ .icons #menu-icon {
    display: none;
  }
  .header #ckeck-menu:checked ~ .icons #close-icon {
    display: block;
  }
  .header #ckeck-menu:checked ~ .navbar {
    width: 100%;
    height: auto;
  }
}
.header .icons {
  position: absolute;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  right: 7.3%;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  .header .icons {
    display: inline-flex;
  }
  .header .icons #close-icon {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header .icons {
    display: inline-flex;
  }
}

.new__title p {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.new__title p:hover {
  border-bottom: none;
}

.menu {
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .menu .menu-hamburger__button,
  .menu .menu-shop__button-filter {
    display: none;
  }
}

.menu-shop__button-container {
  height: 3.5rem;
  border: 2px solid rgb(242, 242, 242);
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .menu-shop__button-container {
    border: none;
    justify-content: end;
    font-size: 1.5rem;
  }
  .menu-shop__button-container li,
  .menu-shop__button-container ul {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .canvas__body li {
    font-size: 1.5rem;
  }
}

.root-button, .fourth-button, .tertiary-button, .secondary-button, .principal-button {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  text-decoration: none;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.principal-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}

.principal-button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.secondary-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.secondary-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.tertiary-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.tertiary-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(241, 193, 26);
  border: 2px solid rgb(241, 193, 26);
}

.fourth-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

.fourth-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.collapse-button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(242, 242, 242);
}

.card-large {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50rem;
}
.card-large .card-large__img {
  padding: 0;
}
.card-large .card-large__details {
  bottom: 50px;
}
.card-large .card-large__details--member {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: auto;
  left: 3rem;
  bottom: 350px;
  left: 10%;
}
.card-large .card-large__details--member h1 {
  font-size: 3.5rem;
}
.card-large .card-large__details--member div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 150px));
  gap: 20px;
}

.card {
  min-width: 60%;
  border: 0;
  background-color: transparent;
  transition: 350ms;
}
.card:hover {
  transform: scale(1.05, 1.05);
}
@media screen and (min-width: 768px) {
  .card {
    min-width: 40%;
    border: 0;
  }
}
@media screen and (min-width: 992px) {
  .card {
    min-width: 25%;
    border: 0;
  }
}
.card .card__img {
  min-height: 60%;
}
.card .card__body {
  min-height: 30%;
}
@media screen and (max-width: 768px) {
  .card .card__body .card__title,
  .card .card__body .card__price {
    font-size: 1rem;
  }
}

.carousel, .carousel .carousel__item {
  width: 100%;
  height: 45rem;
}
.carousel .carousel__item {
  position: relative;
}
.carousel .carousel__button {
  left: 35%;
  bottom: 50px;
}

.look-combo__detail {
  height: 18rem;
  align-items: center;
  gap: 1rem;
}

.split, .split--form, #split-clothing {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 768px) {
  .split, .split--form, #split-clothing {
    min-height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 992px) {
  .split, .split--form, #split-clothing {
    min-height: 60vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

#split-clothing {
  margin-top: 6.8rem;
}

.split--form {
  margin-top: 5rem;
}

.split__details {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  height: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.split-details__body--member {
  padding: 0 3rem;
}
.split-details__body--member div {
  display: flex;
  gap: 20px;
  margin-top: 0.75rem;
  align-items: baseline;
  font-size: 2.5rem;
}
.split-details__body--member div div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.split-details__body--member div div h2 {
  font-size: 1.5rem;
}
.split-details__body--member div div p {
  font-size: 1rem;
  font-weight: normal;
}

.split-details__title,
.split-details__body,
.split-details__footer {
  line-height: 150%;
  gap: 10px;
  padding: 20px 20px 0 20px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .split-details__title,
  .split-details__body,
  .split-details__footer {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .split-details__title,
  .split-details__body,
  .split-details__footer {
    margin-left: 3rem;
  }
}

.split-details__body select,
.split-details__body input {
  font-size: 0.875rem;
  border: 1px solid rgb(242, 242, 242);
  padding: 0.75rem 1.5rem;
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: auto;
  outline: rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-overflow: ellipsis;
}

.clothes {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 768px) {
  .clothes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 992px) {
  .clothes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.faq {
  width: 80%;
  height: auto;
  margin: 3rem auto;
}
@media screen and (min-width: 992px) {
  .faq {
    width: 50%;
    height: auto;
  }
}
.faq .faq__title {
  text-align: center;
}

footer {
  background-color: rgb(0, 0, 0);
}
footer a {
  color: rgb(241, 193, 26);
  text-decoration: none;
  transition: 350ms;
}
footer a:hover {
  transform: translate(5px, 0);
}
footer .footer__contact,
footer .footer__info {
  color: rgb(241, 193, 26);
}
footer .footer__contact .footer__title,
footer .footer__info .footer__title {
  font-size: 2rem;
  text-align: center;
}
footer .footer__contact .footer__detail,
footer .footer__info .footer__detail {
  font-size: 1rem;
}
footer .footer__contact input,
footer .footer__info input {
  width: 100%;
  height: 20%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid rgb(241, 193, 26);
  border-radius: 5px;
  color: rgb(241, 193, 26);
  outline: rgb(241, 193, 26);
}
footer .footer__contact input::placeholder,
footer .footer__info input::placeholder {
  color: rgb(241, 193, 26);
}
footer .footer__contact [type=email]:focus,
footer .footer__info [type=email]:focus {
  background-color: transparent;
  border: 2px solid rgb(241, 193, 26);
  color: rgb(255, 255, 255);
}
footer .footer__contact .footer__help,
footer .footer__contact .footer__about,
footer .footer__info .footer__help,
footer .footer__info .footer__about {
  color: rgb(241, 193, 26);
  border-top: 2px solid rgb(241, 193, 26);
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  footer .footer__contact {
    border-right: 2px solid rgb(241, 193, 26);
  }
}

/*# sourceMappingURL=style.css.map */
