//Utilities Imports
@import "utilities/font";
@import "utilities/root-styles";
@import "utilities/buttons";
@import "utilities/cards";
@import "utilities/carousel";
@import "utilities/split";


/* estilos look combo index */



/* estilos menu shop */

.menu-shop__button-container {
  height: 3.5rem;
  border: 2px solid #f2f2f2;
  justify-content: center;
}

/* estilos clothes shop */

.clothes {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}

/* estilos clothing */


/* estilos footer */

footer {
  background-color: var(--tertiary-color);
}

footer a {
  color: var(--pricipal-color);
  text-decoration: none;
}

.footer__contact,
.footer__info {
  color: var(--pricipal-color);
}

.footer__contact input {
  height: 20%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--pricipal-color);
  border-radius: 5px;
  color: var(--pricipal-color);
  outline: var(--pricipal-color);
}

.footer__contact input::placeholder {
  color: var(--pricipal-color);
}

.footer__contact [type="email"]:focus {
  background-color: transparent;
  border: 2px solid var(--pricipal-color);
  color: var(--secondary-color);
}

.footer__help,
.footer__about {
  color: var(--pricipal-color);
  border-top: 2px solid var(--pricipal-color);
  background-color: transparent;
}

/* MQ for desktop screen */
@media screen and (min-width: 992px) {
  .card {
    min-width: 25%;
    border: 0;
  }

  .menu {
    justify-content: space-between;
  }

  .menu-hamburger__button,
  .menu-shop__button-filter {
    display: none;
  }

  .menu-shop__button-container {
    height: 3.5rem;
    border: none;
    justify-content: end;
  }

  .canvas__body li,
  .menu-shop__button-container,
  .menu-shop__button-container ul {
    font-size: 1.5rem;
  }

  .clothes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .split {
    min-height: 60vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .split-details__title,
  .split-details__body,
  .split-details__footer {
    margin: 10px 5rem;
  }

  .footer__contact {
    border-right: 2px solid var(--pricipal-color);
  }
}