@import "variables";

.root-button {
  padding: get-space-size(3) get-space-size(6);
  border-radius: get-space-size(5);
  text-decoration: none;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.principal-button {
  @extend .root-button;
  color: get-color(secondary);
  background-color: transparent;
  border: 2px solid get-color(secondary);

}

.principal-button:hover {
  background-color: get-color(secondary);
  border: 2px solid get-color(secondary);
  color: get-color( tertiary);
}

.secondary-button {
  @extend .root-button;
  color: get-color( tertiary);
  background-color: get-color( secondary);
  border: 2px solid get-color( secondary);
}

.secondary-button:hover {
  color: get-color( secondary);
  background-color: get-color( tertiary);
  border: 2px solid get-color( tertiary);
}

.tertiary-button {
  @extend .root-button;
  color: get-color( secondary);
  font-weight: bold;
  background-color: get-color( tertiary);
  border: 2px solid get-color( tertiary);
}

.tertiary-button:hover {
  color: get-color( tertiary);
  background-color: get-color( primary);
  border: 2px solid get-color( primary);
}

.fourth-button {
  @extend .root-button;
  color: get-color( tertiary);
  background-color: get-color( secondary);
  border: 2px solid get-color( tertiary);
}

.fourth-button:hover {
  color: get-color(secondary);
  background-color: get-color(tertiary);
  border: 2px solid get-color(tertiary);
}