@import "variables";
@import "mediaquerys";

//Large cards
.card-large {
  color: get-color(secondary);
  @include measurements(100%,50rem);

  .card-large__img {
    padding: get-space-size(0);
  }
  
  .card-large__details {
    bottom: 50px; 
  }

  .card-large__details--member{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include measurements(80%, auto);
    left:get-space-size(8);
    bottom: 350px;
    left: 10%;
    h1{
      font-size: get-size(h0-size);
    }

    div{
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(180px, 150px));
      gap: 20px;
    }
  }
}




//Small cards
.card {
    min-width: 60%;
    border: get-space-size(0);
    background-color: transparent;
    transition: 350ms;
    &:hover{
      transform: scale(1.05, 1.05);
    }

  @include media-min(md){
    min-width: 40%;
    border: get-space-size(0);
  }

    @include media-min(lg){
      min-width: 25%;
      border: get-space-size(0);
    }
    
    .card__img{
      min-height: 60%;
    }

    .card__body{
      min-height: 30%;

      @include media-max(md){
        .card__title,
        .card__price{
          font-size: get-size(h6-size);
        }
      }
      
    }
  }