@import "variables";
@import "mediaquerys";

//Large cards
.card-large {
  color: get-color(secondary);
  @include measurements(100%,50rem);

  .card-large__img {
    padding: get-space-size(0);
  }
  
  .card-large__details {
    bottom: 50px;
  }

}




//Small cards
.card {
    min-width: 50%;
    border: get-space-size(0);
    background-color: transparent;
    transition: 350ms;
    &:hover{
      transform: scale(1.05,1.05);
    }

  @include media-up(md){
    min-width: 40%;
    border: get-space-size(0);
  }

    @include media-up(lg){
      min-width: 25%;
      border: get-space-size(0);
    }
    
  }