@import "variables";
@import "mediaquerys";

//Clothes shop layout
.clothes {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;

  @include media-min(md){
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  @include media-min(lg){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.faq{
  @include measurements(80%, auto);
  margin: get-space-size(8) auto;

  @include media-min(lg){
    @include measurements(50%, auto);
  }

  .faq__title{
    text-align: center;
  }
}
