@import "variables";
@import "mediaquerys";

//root styles
* {
    margin: get-space-size(0);
    padding: get-space-size(0);
    box-sizing: border-box;
    font-family: $general-font;
  }

//images styles
img {
    @include measurements(100%, 100%);
    object-fit: cover;
    object-position: center;
  }

//link styles
a {
    text-decoration: none;
  }
