@import "variables";
@import "mediaquerys";

.look-combo__detail {
  height: $space-size * 18;
  align-items: center;
  gap: get-space-size(4);
}

.split {
  display: grid;
  min-height: 90vh;
  margin-top: $space-size * 5;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include media-up(md){
    min-height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include media-up(lg) {
    min-height: 60vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.split__details {
  display: flex;
  flex-direction: column;
  padding-top: get-space-size(7);
  padding-bottom: get-space-size(7);
}

.split-details__title,
.split-details__body,
.split-details__footer {
  line-height: 150%;
  gap: 10px;
  padding: 20px 20px 0 20px;
  font-size: $space-size * 0.9;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  @include media-up(md){
    margin: 10px $space-size * 4;
  }

  @include media-up(lg){
    margin: 10px $space-size * 5;
  }
}

.split-details__body select,
.split-details__body input {
  font-size: $space-size * 0.875;
  border: 1px solid get-color(fourth);
  padding: get-space-size(3) get-space-size(5);
  background-color: get-color(fourth);
  @include measurements(100%, auto);
  outline: get-color(tertiary);
  border-radius: get-space-size(2);
  text-overflow: ellipsis;
}
